@import "ui/styles.css";
@source "../../../packages/ui";

@layer base {
  :root {
    --card-hover: 220, 14%, 96%;
    --card-selected: 218, 11%, 65%;
  }

  .dark {
    --card-hover: 221, 39%, 11%;
    --card-selected: 215, 14%, 34%;
  }
}
